body {

    /*background-color: lightcyan;*/
    text-align: center;

  }
p{
    justify-content: center;
}

.bloc-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 100px);


}

.classMate{
    background-color: darksalmon;

}

.bloc{
    background-color: rgb(227, 231, 231);

}

.me{
    background-color: rgb(17, 81, 102);

}
.tv{
    background-color: rgb(72, 172, 206);

}